ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  ul.navi li {
    float: left;
  }
  
  ul.navi li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.navi li a:hover {
    background-color: gray;
  }

  /*li a:active  {
    background-color: #04AA6D;
  }*/